.Box2{
    width: 400px;
    height:400px;
    background-image:url(../images/best.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}
